


<footer class="bg-danger text-center text-dark pt-5 pb-4">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">
            
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-light">Nosotros</h5>
                <hr class="mb-4">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ducimus 
                  optio velit impedit alias pariatur at, dolore aliquid consequuntur 
                  perferendis non deleniti qui odit iure laudantium illum saepe, obcaecati 
                  nam.
                </p>
  
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
              <h5 class="text-uppercase mb-4 font-weight-bold text-light">Dejanos ayudarte</h5>
              <hr class="mb-4">
              <p> <a href="" class="text-dark">Tu cuenta</a></p>
              <p> <a href="" class="text-dark">Tus ordenes</a></p>
              <p> <a href="" class="text-dark">Manejo de cuenta</a></p>
              <p> <a href="" class="text-dark">Ayuda</a></p>
  
            </div>
  
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
              <h5 class="text-uppercase mb-4 font-weight-bold text-light">INS CRUCERO</h5>
              <hr class="mb-4">
              <p> <a href="" class="text-dark">999 888 900</a></p>
              <p> <a href="" class="text-dark">Anuncios </a></p>
              <p> <a href="" class="text-dark">Afiliado</a></p>
              <p> <a href="" class="text-dark">Publica</a></p>
  
            </div>
  
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
              <h5 class="text-uppercase mb-4 font-weight-bold text-light">INS CRUCERO</h5>
              <hr class="mb-4">
              <p> <li class="fas fa-home me-3"></li> Peru-Puno-Carabaya</p>
              <p> <li class="fas fa-envelope me-3"></li> inscrucero@gamil.com</p>
              <p> <li class="fas fa-phone me-3"></li>+987654321</p>
              <p> <li class="fas fa-print me-3"></li>+923672362</p>
          
            </div>
            <hr class="mb-4">
            <div class="text-center mb-2">
              <p>Copyright Todo los derechos reservados <a href=""> <strong>Test</strong></a></p>
            </div>
  
            <div class="text-center">
              <ul class="list-unstyled-item">
                <li class="list-inline-item"><a href="" class="text-dark"><i class="fab fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="" class="text-dark"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="" class="text-dark"><i class="fab fa-google-plus"></i></a></li>
                <li class="list-inline-item"><a href="" class="text-dark"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a href="" class="text-dark"><i class="fab fa-youtube"></i></a></li>
  
              </ul>
  
            </div>
            
        
        
        
        
          </div>            
    </div>
  </footer>
  <style>
     body {
    overflow-x: hidden;
  }
    footer {

      /* Ajusta la altura según tus necesidades */
      position: fixed;
    bottom: 0;
    width: 100%;
    height: 30%; /* Ajusta la altura según tus necesidades */
    background-color: #dc3545;
    color: #fff;
    }
  </style>
  
  
  
  
  
  
  
  
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="../../plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
//   $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="../../plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="../../plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="../../plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="../../plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="../../plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="../../plugins/moment/moment.min.js"></script>
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="../../plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="../../plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<!--<script src="../../dist/js/demo.js"></script>-->
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../../dist/js/pages/dashboard.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
    <script src="../javascripts/bootstrap.bundle.min.js"></script>

    
    
    </body>
    </html>