
<%- include('partials/header'); %>

  <section class="home">
    <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-controls">

    </div>
    <div class="carousel-inner "data-bs-interval="0.3">
      <div class="carousel-item active" style="background-image:url('/images/crucero.jpeg')">
        <div class="container">
           <h2>BIENVENDOS A LA</h2>
           <p>BOLSA DE TRABAJO</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image:url('/images/crucero2.jpg')">
        <div class="container">
           <h2>Instituto de Educación Superior</h2>
           <p>Público “De Crucero”</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image:url('/images/crucero3.jpg')">
        <div class="container">
           <h2>ASEGURA TU EMPRENDIMIENTO </h2>
           <p>Y CALIDAD</p>
        </div>
      </div>
    </div>
  </div>
   </section>

  
    <div class="mn">
    <div class="card">
      <div class="face front">
          <img src="/images/estudiante.jpeg" alt="">
          <h3>ESTUDIANTE</h3>
      </div>
      <div class="face back">
          <h3>ESTUDIANTE</h3>
          <p>Los estudiantes tienen la oportunidad de desarrollar habilidades personales y 
            profesionales. Esto incluye mejorar la comunicación, el
             pensamiento crítico, la resolución de problemas, 
             capacidad de trabajar en equipo.</p>
          <div class="link">
              <a href="/login" class="btn btn-info">INGRESAR</a>
          </div>
      </div>
  </div>

  <div class="card">
      <div class="face front">
          <img src="/images/docente.jpg" alt="">
          <h3>DOCENTE</h3>
      </div>
      <div class="face back">
          <h3>DOCENTE</h3>
          <p>Un docente va más allá de planificar lecciones informativas. De hecho,
            muchas veces los maestros se transforman en padres o madres para 
            los estudiantes debido a la cantidad de 
            tiempo que los alumnos pasan en el instituto educativo.</p>
          <div class="link">
              <a href="#">Details</a>
          </div>
      </div>
  </div>

  <div class="card">
      <div class="face front">
          <img src="/images/empresa.jpeg" alt="">
          <h3>EMPRESA</h3>
      </div>
      <div class="face back">
          <h3>EMPRESA</h3>
          <p>Las empresas producen bienes y servicios de calidad para los individuos, 
            generan empleo y permiten ofrecer una variedad donde los consumidores 
            puedan elegir.</p>
          <div class="link">
              <a href="#">Details</a>
          </div>
      </div>
  </div>
   
</div>

<%- include('partials/footer'); %>




