<%- include('../partials/header'); %>
  <!-- Content Wrapper. Contains page content -->
 
  <br> <br>
  <aside class="main-sidebar sidebar-dark-primary elevation-5">
    <!-- Brand Logo -->
    <!-- Sidebar -->
    <div class="d-flex justify-content-centert">      <!-- Sidebar user panel (optional) -->
      <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/f7/72/86/f77286cba464cdf9f1719b289a4c3427.jpg" class="card-img-top" alt="..." style="border-radius: 15%;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="dashboard" class="nav-link">

          </a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/f7/72/86/f77286cba464cdf9f1719b289a4c3427.jpg" class="card-img-top" alt="..." style="border-radius: 15%;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <a href="categorias" class="nav-link">
            <button class="btn btn-success">VER OFERTAS</button>
          </a>
        </div>
      </div>
    </div>
    <!-- /.sidebar -->
  </aside>
 </main>
 

  <!-- Main Sidebar Container -->

  <%- include('../partials/footer'); %>




