<%- include('../partials/header'); %>
  <!-- Content rapper. Contains page content -->

  <aside class="main-sidebar sidebar-dark-primary elevation-5 mt-auto">
    
    <div class="mn">
      <div class="card">
        <div class="face front">
            <img src="/images/estudiante.jpeg" alt="">
            <h3>MONITOREAR</h3>
        </div>
        <div class="face back">
            <h3>VER LAS POSTULACIONES</h3>
            <p>Podra ver las postulaciones de los egresados</p>
            <div class="link">
                <a href="postulaciones" class="btn btn-info">INGRESAR</a>
            </div>
        </div>
    </div>
  
    <div class="card">
        <div class="face front">
            <img src="/images/docente.jpg" alt="">
            <h3>VER OFERTAS LABORALES</h3>
        </div>
        <div class="face back">
            <h3>VER LAS OFERTAS LABORALES</h3>
            <p>EL decente puede ver las ofertas laborales.</p>
            <div class="">
                <a href="docente" class="btn btn-info">INGRESAR</a>
            </div>
        </div>
    </div>
    </div>
  </aside>


 </main>
 

  <!-- Main Sidebar Container -->

  <%- include('../partials/footer'); %>