<%- include('../partials/header'); %>

<br><br><br>
<main class="d-flex" > 
 
    <div class="card m-4 d-flex ">
      <div class="face front">
          <img src="/images/estudiante.jpeg" alt="">
          <h3>VER OFERTAS LABORALES</h3>
      </div>
      <div class="face back">
          <h3>VER</h3>
      
          <div class="link">
              <a href="categorias.ejs" class="btn btn-info">ver</a>
          </div>
      </div>
  </div>

  <div class="card m-4 d-flex ">
      <div class="face front">
          <img src="/images/docente.jpg" alt="">
          <h3>CREAR USUARIOS</h3>
      </div>
      <div class="face back">
          <h3>CREAR</h3>
          
          <div class="link">
            <a href="form.ejs" class="btn btn-info">CREAR</a>
        </div>
      </div>
  </div>
  <div class="card m-4 d-flex ">
    <div class="face front">
        <img src="/images/estudiante.jpeg" alt="">
        <h3>CREAR OFERTAS</h3>
    </div>
    <div class="face back">
        <h3>CREAR</h3>
    
        <div class="link">
            <a href="categorias-add.ejs" class="btn btn-info">CREAR</a>
        </div>
    </div>
</div>
  
</main>
<%- include('../partials/footer'); %>